.product-card {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
  max-width: 90%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 8px;
}

.product-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.product-card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.product-card a,
.product-card button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #2A9D8F;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.product-card a:hover,
.product-card button:hover {
  background-color: #E9C46A;
  transform: translateY(-3px);
}
