.homepage {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif; 
}

.hero-section {
  height: 300px; 
  width: 100%;
  background-image: url('../assets/images/homeimg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero-section h1 {
  font-size: 4vw; /* Responsive font size */
  color: #ffffff;
  z-index: 1;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  text-align: center;
  letter-spacing: 2px;
}

.featured-products {
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
}

.featured-products h2 {
  font-size: 2.5vw; /* Responsive font size */
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  width: 100%;
  max-width: 200px; /* Limit the max width */
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px;
  color: #333;
  text-align: center;
}

.product-card p {
  font-size: 16px;
  margin: 10px;
  color: #777;
  text-align: center;
}

.product-card button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card button:hover {
  background-color: #0056b3;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .hero-section {
    height: 200px;
  }

  .hero-section h1 {
    font-size: 6vw; /* Increase font size for smaller screens */
  }

  .featured-products h2 {
    font-size: 4vw;
  }

  .product-card {
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .hero-section {
    height: 150px;
  }

  .hero-section h1 {
    font-size: 8vw;
  }

  .featured-products h2 {
    font-size: 5vw;
  }

  .product-card {
    max-width: 120px;
  }
}
